@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');



button {
  cursor: pointer;
}

li {
  list-style: none;
}


body.light {
  --bg-color: #fff;
  --text-color: #313E51;
  --intro-text-color: #626C7F;
  --category-bg: #FFFFFF;
  --button-bg: #A729F5;
  --progress-bg: #ffffff;
  --progress-inner: #A729F5;

}

.container {
  background-image: url('/img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 26px 24px 139px;
  min-height: 100vh;
  transition: 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  margin-bottom: 48px;
  align-items: center;
}

.topic-section {
  display: flex;
  gap: 10px;
  align-items: center;

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #313E51;
  }
}

.header-images {
  display: flex;
}

.themeOptions label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.switch {
  appearance: none;
  background-color: #A729F5;
  height: 20px;
  width: 32px;
  display: inline-flex;
  margin: 0;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4px;
  transition: all .4s;
  cursor: pointer;
}

.switch:after {
  content: "";
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.switch:checked {
  background-color: #A729F5;
  justify-content: end;
}


.quiz-subjects {
  display: grid;
  padding-bottom: 251px;
}

.quiz-subjects h1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  color: var(--text-color);
  margin-bottom: 8px;
}

.quiz-subjects h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: var(--text-color);
  margin-bottom: 16px;
}

.quiz-subjects .intro-text {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 21px;
  color: #626C7F;
  margin-bottom: 40px;
}

/* .option-btn.selected {
  border: 3px solid #A729F5;
  padding: 9px;
  gap: 16px;
} */

.category-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category-button {
  display: flex;
  gap: 16px;
  align-items: center;
  box-shadow: 0px 16px 40px 0px #8FA0C124;
  background-color: var(--category-bg);
  border-radius: 12px;
  padding: 12px;
  border: 2px solid transparent;
  transition: 1s ease-in-out;

}

.category-button:hover {
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 15px 2px #0003;

}

.category-button p {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: var(--text-color);
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .header-left {
  display: flex;
  gap: 16px;
  align-items: center;
} */

.question-number {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #626C7F;
  margin-bottom: 24px;
}

.question-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #313E51;
}

.progressBar {
  margin-top: 24px;
  background-color: var(--progress-bg);
  height: 16px;
  border-radius: 6px;
  padding: 3px;
  box-sizing: border-box;
  margin-bottom: 40px;
  transition: 1s ease-in-out;

}

.progressBarInner {
  background-color: var(--progress-inner);
  width: 10%;
  height: 8px;
  content: "";
  border-radius: 6px;
  transition: 1s ease-in-out;

}


.option-buttons {
  display: grid;
  gap: 12px;
}

.option-btn {
  /* padding: 12px 37px 12px 12px; */
  border: 3px solid transparent;
  border-radius: 12px;
  box-shadow: 0px 16px 40px 0px #8FA0C124;
  background-color: #fff;
  /* border-style: none; */
  gap: 10px;
  display: flex;
  align-items: center;
  min-height: 66px;
  min-width: 100%;
  text-align: left;
}

.option-btn:hover {

  .choiceBtn {
    background-color: #F6E7FF;
    color: #A729F5;
  }
}

.option-btn.selected {
  /* padding: 9px 37px 9px 9px; */
  border-color: #A729F5;

  .spanClass {
    background: #A729F5;
    color: white;
  }

  p {
    padding-left: 0;
  }

}

.option-btn.correct.selected {
  border-color: #26D782;
  background-image: url("/img/correct-answer-icon.svg");
  background-repeat: no-repeat;
  background-position: 99% 50%;
}

@keyframes blink {

  0%,
  100% {
    background-color: #49d893;


  }

  50% {
    background-color: #ffffff;


  }
}

.option-btn.correct.blink {
  background-image: url("/img/correct-answer-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 99% 50%;
  align-items: center;

  padding-right: 35px;
  animation: blink 1s ease-in-out 1.5;
  /* padding-left: 7px; */
  /* sağda boşluk bırak ikonu yerleştirmek için */

}

.option-btn.wrong {
  border: 3px solid #F55;
  /* kırmızı ya da istediğin renk */
  border-color: red;
  background-image: url("/img/wrong-answer-icon.svg");
  background-repeat: no-repeat;
  background-position: 99% 50%;
  /* padding: 9px 37px 9px 9px; */

  padding-right: 30px;
  /* ikona yer aç, ama sabit tut */
}

.option-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #313E51;

}

.choiceBtn {
  background-color: #F4F6FA;
  color: #626C7F;
  border-radius: 6px;
  padding: 11px 13px 11px 14px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  /* text-align: center; */
}

.choiceBtn.selected {
  background-color: #A729F5;
  color: #fff;
  border-radius: 6px;
  padding: 11px 13px 11px 14px;
}

.choiceBtn.correct.selected {
  color: #fff;
  background-color: #26D782;
  border-radius: 6px;
  padding: 11px 13px 11px 14px;
}

.choiceBtn.correct {
  padding: 12px;
}

.choiceBtn.wrong {
  color: #fff;
  background-color: red;
  border-radius: 6px;
  padding: 11px 13px 11px 14px;
}

.submit-next-btns button,
.play-again-button {
  display: block;
  margin-inline: auto;
  margin-top: 12px;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  box-shadow: 0px 16px 40px 0px #8FA0C124;
  background-color: #A729F5;
  border-style: none;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  padding: 19px;
}

.submit-next-btns button:hover,
.play-again-button:hover {
  background-color: #d394fa;
}

.result-area h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  color: #313E51;
  margin-bottom: 8px;
}

.result-area h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: #313E51;
}

.score-content-card {
  margin-top: 40px;
  padding: 32px;
  gap: 16px;
  border-radius: 12px;
  box-shadow: 0px 16px 40px 0px #8FA0C124;
  background-color: #FFFFFF;
  transition: 1s ease-in-out;

}

.score-content-header {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 27px;
}

.result-category {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #313E51;
}

.score-text {
  font-size: 88px;
  font-weight: 500;
  line-height: 88px;
  text-align: left;
  color: #313E51;
  text-align: center;
  margin-bottom: 16px;
}

.total-question-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #626C7F;
  text-align: center;

}

.warning-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 12px;
}

.warning-text {
  color: #d9534f;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

}


@media(width >=768px) {
  .container {
    padding-top: 54px;
    padding-inline: 64px;
  }


  .quiz-subjects h1 {
    font-weight: 300;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #313E51;
  }

  .quiz-subjects h2 {
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #313E51;
    margin-bottom: 16px;
  }

  .quiz-subjects .intro-text {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #626C7F;
    margin-bottom: 64px;
  }

  .category-buttons {
    gap: 24px;
  }

  .category-button {
    gap: 32px;
    border-radius: 24px;
  }

  .category-button p {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #313E51;
  }

  .topic-section {
    gap: 24px;

    p {
      font-size: 28px;
      color: #313E51;
    }
  }

  .question-number {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    color: #626C7F;
    margin-bottom: 27px;
  }

  .question-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: #313E51;
  }

  .progressBar {
    background-color: white;
    height: 16px;
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 64px;
  }

  .option-btn {
    border-radius: 24px;
    gap: 32px;
    height: 80px;
    /* transition: all 0.3s ease-in-out; */
  }

  .option-text {
    font-size: 28px;
    color: #313E51;
  }

  /*score-page*/

  .result-area {
    margin-bottom: 64px;
  }

  .result-area h2 {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #313E51;
  }

  .result-area h3 {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #313E51;
  }

  .score-content-card {
    margin-top: 0;
    margin-bottom: 32px;
    padding: 48px;
    border-radius: 24px;
  }

  .score-content-header {
    gap: 24px;
    margin-bottom: 54px;

    img {
      width: 56px;
    }
  }

  .result-category {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .score-text {
    font-weight: 500;
    font-size: 144px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #313E51;
    text-align: center;
  }

  .total-question-number {

    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #626C7F;
  }

  .submit-next-btns button,
  .play-again-button {
    height: 92px;
    border-radius: 24px;
    box-shadow: 0px 16px 40px 0px #8FA0C124;
    background-color: #A729F5;
    border-style: none;
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    padding: 32px;
    letter-spacing: 0;
  }


  .warning-section {
    margin-top: 32px;
    gap: 7px;

  }

  .warning-text {
    font-size: 24px;

  }
}


@media(width >=1280px) {

  .container {
    padding-inline: 140px;
  }

  .quiz-subjects {
    grid-template-columns: repeat(2, 1fr);

    h2 {
      margin-bottom: 48px;
    }
  }

  .header {
    margin-bottom: 85px;
  }

  .category-button {
    padding: 20px;
  }


  .question-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 131px;
  }

  .question-area {
    display: flex;
    flex-direction: column;
    height: 410px;
    gap: 27px;
    justify-content: space-between;
  }

  .progressBar {
    margin-bottom: 0;
    margin-top: auto;
  }

  .option-btn {
    width: 564px;
    height: 92px;
  }

  .score-page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 143px;
  }

}